.List{
    list-style: none;
}
.Decoration{
    text-decoration: none;
}
.Text-Head{
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}